body {
  background-color: #133E70;
}

h1 {
  margin: 15px;
  color: #F5F5F5;
}

.hpc-container {
  margin: 20px;
  max-width: 300px;
  min-width: 300px;
  padding: 16px;
  background-color: #F5F5F5;
  border: 3px solid black;
}

ul#hpc-list {
  list-style-type: none;
}

.cancel-res, .dropdown {
  text-align: center;
  position: relative;
  display: inline-block;
}

.form-container {
  margin: 20px;
  max-width: 300px;
  min-width: 300px;
  padding: 16px;
  background-color: #F5F5F5;
  border: 3px solid black;
}

input[type=text] {
 margin-bottom: 10px;
  
}
input[type=password] {
 margin-bottom: 10px;
}


.btn-logout {
  position: fixed;
  top: 10px;
  right: 10px; 
}
