
<!doctype html>



  <script type="text/babel" src="{{ url_for('static', filename='js/login.js') }}"></script>
<html>

<head>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="css/site.css" rel="stylesheet"></link>


<style>

body {
  font-family: fantasy
  margin: 0;
  }

.content {
  max-width: 500px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  }

.header{
  padding: 80px;
  text-align: center;
  background: #282828;
  color: white;
  font-size: 30px;
  border: 3px;
  }


</style>

</head>

<body>

	
<div class="header">
  <h1> HPC COMPUTER STATUS </h1>


  <div id="login"></div>

    <div class='content'>
    <div>


 <div id="login"></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>


</body>

</html>
